{% extends 'base.html' %}

{% block title %} Changing Password {% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
</style>

<div style="height:100vh;
display: flex; /* Flexbox to center content */
        justify-content: center; /* Center horizontally */
        align-items: center;    background-image: url('/media/backgrounds/fgjr1.jpg');
    background-size: cover;
    background-position: center">

    <div style="padding-top: 5px; padding-left: 30%; padding-right: 30%; font-family: 'Ubuntu', 'sans-serif';">
        <div style="background-color: rgba(223, 230, 233, 0.1); border-radius: 10px; padding: 20px;">
            <form method="post" enctype="multipart/form-data"> <!-- enctype for adding -->
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success mt-3">Confirm</button>
                <a href="{% url 'book_list' %}" class="btn btn-danger mt-3">Cancel</a>
            </form>
        </div>
        <footer style="text-align: center; font-size: 12px; margin-top: 15px; font-weight: bold">
            Background Designed by Freepik
        </footer>
    </div>

</div>

{% endblock %}
