.btn-spiro-disco-ball {
    background-color: #0fbcf9 !important;
    color: black !important;
    border-color: #0fbcf9 !important;
}

.btn-spiro-disco-ball {
    background-color: #0fbcf9 !important;
    border-color: #0fbcf9 !important;
}

.table {
    border-radius: 10px;
    overflow: hidden;
}