.btn-spiro-disco-ball {
    background-color: #0fbcf9 !important;
    color: black !important;
    border-color: #0fbcf9 !important;
}

.btn-spiro-disco-ball {
    background-color: #0fbcf9 !important;
    border-color: #0fbcf9 !important;
}


/*.btn-fresh-turquoise{*/
/*    background-color: #34e7e4 !important;*/
/*    color: black !important;*/
/*    border-color: #34e7e4 !important;*/
/*}*/


/*.btn-fresh-turquoise {*/
/*    background-color: #34e7e4 !important;*/
/*    border-color: #34e7e4 !important;*/
/*}*/

